# Node build artifacts
node_modules
npm-debug.log

# Local development
*.env
*.dev
.DS_Store

# Docker
Dockerfile
docker-compose.yml

CodeMirror
bin
build
*.pro.user
Makefile
Makefile.*

*.user.json
local_storage
